/**:
  estop:
    ros__parameters:
      time_step_size: 0.02

  stand:
    ros__parameters:
      time_step_size: 0.02
      duration: 1.0

  walk:
    ros__parameters:
      time_step_size: 0.01667
      model: "/models/g1_walk_v2/g1_walk_config.json"

  getup0:
    ros__parameters:
      time_step_size: 0.01667
      model: "/models/g1_getup0_v2/g1_getup_config.json"
      # model: "/models/g1_getup01_v2/g1_getup_config.json"

  crouch:
    ros__parameters:
      time_step_size: 0.02
      duration: 1.0
      target_joint_angles: [
        -0.1000, -0.1000,
        0.0000,
        0.0000,  0.0000,
        0.0000,
        0.0000,  0.0000,
        0.0000,
        0.3000,  0.3000,
        0.0000,  0.0000,
        -0.2000, -0.2000,
        1.4000, -1.4000,
        0.0000,  0.0000,
        1.2000, -1.2000,
        0.8000,  0.8000,
        0.0000,  0.0000,
        0.0000,  0.0000,
        0.0000,  0.0000
      ]

  getup1:
    ros__parameters:
      time_step_size: 0.01667
      model: "/models/g1_getup1_v2/g1_getup_config.json"
      # model: "/models/g1_getup01_v2/g1_getup_config.json"

  sitdown:
    ros__parameters:
      time_step_size: 0.01667
      model: "/models/g1_sitdown_v2/g1_sitdown_config.json"

  deeptrack:
    ros__parameters:
      time_step_size: 0.01667
      model: "/models/g1_tennis/g1_tennis_config.json"

  comm:
    ros__parameters:
      time_step_size: 0.01
      monitorPublisherQueueSize: 10
      remoteSubscriberQueueSize: 10

  robot:
    ros__parameters:
      time_step_size: 0.001667  # sim rate
      robot_xml_file: "g1_description/scene_crl.xml"
      joystick_max_forward_velocity: 1.5   # Maximum forward walking speed
      joystick_max_backward_velocity: 1.0  # Maximum backward walking speed
      joystick_max_sideways_velocity: 0.5  # Maximum sideways walking speed
      joystick_max_turning_velocity: 1.0   # Maximum turning speed
